.product_single{
  background-color: #b3d9ff;
  padding: 10px;
  color: #0000cc;
  box-shadow: 0 3px 3px rgba(0,0,0,0.35);
  min-height: 100px;
  width: 50%;
  border-radius: 15px;
  border: solid #1a8cff 2px;
  margin-bottom: 15px;
 }
 .product_single_image{
  margin-bottom: 15px;
 }